<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="login-diego">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `login-diego`
     * login
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginDiego extends Polymer.Element {
      static get is() { return 'login-diego'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-diego'
          }
        };
      }
    }

    window.customElements.define(LoginDiego.is, LoginDiego);
  </script>
</dom-module>
