<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="login-diego">
   <template is="dom-if">
    <style>
      :host {
        display: block;
      }
      :host .input{
        margin: auto auto;
        width: 50%;
        margin-bottom: 2em;
        margin-left: 1em;
        padding: .5em 0;
        border: none;
        color: gray;
      }

      :host form{
        background: silver;
      }
      :host .bot{
        background: red;
        color: white;
        width: 50%;
        padding: 1em;
        align-content: center;
      }
    </style>    
      <H2>LOGIN</H2>
      <input value="{{user::input}}" type="text" placeholder="Email" class="input">
      <input value="{{pass::input}}" type="password" placeholder="Password" class="input">
      <button type="button" on-click="inic" class="bot">Enter</button> 

  </template>


  <script>
    /**
     * `login-diego`
     * login
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginDiego extends Polymer.Element {
      static get is() { return 'login-diego'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-diego'
          },
          mail:{
            type: String
          },
          psw: {
            type: String
          },

          iniciado: {
            type: Boolean, 
            notify: true
          },

        };
      }
      inic() {
    
        if(this.mail=="diego" && this.psw=="yndiego"){
          this.set("iniciado",true)
        }else{
          this.set("iniciado",false)
        }
      }
    }
    window.customElements.define(LoginDiego.is, LoginDiego);
  </script>
</dom-module>
<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="login-diego">
   <template is="dom-if">
    <style>
      :host {
        display: block;
      }
      :host .input{
        margin: auto auto;
        width: 50%;
        margin-bottom: 2em;
        margin-left: 1em;
        padding: .5em 0;
        border: none;
        color: gray;
      }

      :host form{
        background: silver;
      }
      :host .bot{
        background: red;
        color: white;
        width: 50%;
        padding: 1em;
        align-content: center;
      }
    </style>    
      <H2>LOGIN</H2>
      <input value="{{user::input}}" type="text" placeholder="Email" class="input">
      <input value="{{pass::input}}" type="password" placeholder="Password" class="input">
      <button type="button" on-click="inic" class="bot">Enter</button> 

  </template>


  <script>
    /**
     * `login-diego`
     * login
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginDiego extends Polymer.Element {
      static get is() { return 'login-diego'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'login-diego'
          },
          mail:{
            type: String
          },
          psw: {
            type: String
          },

          iniciado: {
            type: Boolean, 
            notify: true
          },

        };
      }
      inic() {
    
        if(this.mail=="diego" && this.psw=="yndiego"){
          this.set("iniciado",true)
        }else{
          this.set("iniciado",false)
        }
      }
    }
    window.customElements.define(LoginDiego.is, LoginDiego);
  </script>
</dom-module>
